h1 {
  text-align: center;
}

.task-block {
  display: flex;
  flex-direction: column;

  width: 520px;
  border-radius: 5px;

  margin: 38px auto auto auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  .task-list {
    overflow: scroll;
    max-height: 345px;
  }

  .task-list::-webkit-scrollbar {
    display: none;
  }

  .task-input {
    padding: 25px 20px 10px 20px;
    margin: 10px 20px 30px 20px;
    font-size: 20px;
    border: 0;
    border-bottom: 1px solid darkgrey;
  }

  .task-input:focus-visible {
    outline: 0;
  }
}

.task-bottom {
  padding: 13px 0 24px 0;

  color: darkgrey;
  display: grid;
  text-align: center;
  grid-template-columns: 25% 50% 25%;

  border-top: 1px solid darkgrey;

  .task-left {
    padding-top: 5px;
    cursor: pointer;
  }

  .task-radio {

    margin-top: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;

    label {

      input {
        display: none;
      }

      span {
        padding: 5px;
        cursor: pointer;
        color: black;
      }
    }

    label input:checked ~ span{
      border: 1px solid darkgrey;
      border-radius: 3px;
      padding: 4px;
    }
  }

  .task-clear {
    padding-top: 5px;
    cursor: pointer;
  }

}
